@model Blog
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Create">
        <div class="form-group">
            <label >Title</label>
            <input asp-for = "Title" type="text" class="form-control" maxlength="50" >
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label >Description</label>
            <input asp-for = "Description" type="text" class="form-control" >
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="form-group">
            <label>Date</label>
            <input asp-for="Date" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Date"></span>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input asp-for="Image" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Image"></span>
        </div>
       
        <button type="submit" class="btn btn-primary text-white me-2">Submit</button>
        <a asp-area="Admin" asp-controller="Blog" asp-action="Index" class="btn btn-primary text-white">Back</a>
    </form>
</div>

